/watch_later/
/scripts-disabled/
/script-opts/.webui_htpasswd
/script-opts/webui.conf
/scripts/*/screenshots/
/scripts/SmartCopyPaste/.misc/
/scripts/playlistmanager/playlistmanager.png
/scripts/trakt-mpv/config.json
*libfdk-aac*.*dll*
*.rej
*.orig